<% provide(:title, 'All users') %>
<h1>All users</h1>

<!-- Including will_paginate above and below, generates pagination links in both places -->
<%= will_paginate %>

<ul class="users">
  <!-- Rails auto infers this is list of User objs and then auto iterates through them using _user partial (infers name of partial from name of class) -->
  <%= render @users %> 
</ul>

<%= will_paginate %>

